@import "tailwindcss";

@utility nav-btn {
  @apply cursor-pointer hover:font-bold;
}

@utility btn {
  @apply w-fit rounded-md cursor-pointer px-6 py-3 border border-white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-800;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-800/85;
}